'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Sublime Word Navigation'
      'submenu': [
        {
          'label': 'Move to Beginning of Word'
          'command': 'sublime-word-navigation:move-to-beginning-of-word'
        },
        {
          'label': 'Move to End of Word'
          'command': 'sublime-word-navigation:move-to-end-of-word'
        },
        {
          'label': 'Select to Beginning of Word'
          'command': 'sublime-word-navigation:select-to-beginning-of-word'
        },
        {
          'label': 'Select to End of Word'
          'command': 'sublime-word-navigation:select-to-end-of-word'
        },
        {
          'label': 'Delete to Beginning of Word'
          'command': 'sublime-word-navigation:delete-to-beginning-of-word'
        },
        {
          'label': 'Delete to End of Word'
          'command': 'sublime-word-navigation:delete-to-end-of-word'
        }
      ]
    ]
  }
]
